/* colors */
html,
body {
  font-size: 16px;
}

body {
  overflow-y: scroll !important;
}

.sidebar {
  min-height: 768px;
  height: 100%;
  background-color: #dfdfdf;
  padding: 8px;
}
.sidebar a {
  display: block;
  color: #212529;
}
.sidebar a:hover {
  color: #1c63ce;
  text-decoration: none;
}
.sidebar .sidebar-item .sidebar-subitem:not(:last-child) {
  margin-bottom: 0.75rem;
}

.rbt {
  display: block;
  width: 100%;
}

.score-panel h4 {
  margin-bottom: 1rem;
}
.score-panel h5 {
  margin: 0;
}
.score-panel table {
  margin: 0;
}

#multiline-custom-typeahead .form-control.rbt-input {
  min-height: 38px;
  height: 100%;
}
