/* colors */
html,
body {
  font-size: 16px;
}

body {
  overflow-y: scroll !important;
}
body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

.sidebar {
  min-height: 768px;
  height: 100%;
  padding: 0.75rem;
  color: #555;
  background-color: #dfdfdf;
}
.sidebar a {
  display: block;
  color: #555;
}
.sidebar a:hover {
  color: #1c63ce;
  text-decoration: none;
}
.sidebar .card {
  border-radius: 0.4rem;
}
.sidebar .sidebar-item {
  font-weight: 500;
}
.sidebar .sidebar-item .sidebar-subitem {
  font-weight: 400;
}
.sidebar .sidebar-item .sidebar-subitem:not(:last-child) {
  margin-bottom: 0.75rem;
}

.rbt {
  display: block;
  width: 100%;
}

.score-panel h4 {
  margin-bottom: 1rem;
}
.score-panel h5 {
  margin: 0;
}
.score-panel table {
  margin: 0;
}

#multiline-custom-typeahead .form-control.rbt-input {
  min-height: 38px;
  height: 100%;
}
